<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initialscale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <title>Maine Page</title>
</head>

<header>
    <section class="header2">
        <!-- vedværende Header -->
        <nav>
            <a href="index.html"><img src="../static/Billeder/BILABONNEMENT_LOGO.png"></a>
            <div class="nav-link">
                <ul>
                    <li><a href="">Forretningsudvikler</a></li>
                    <li><a href="">Skade & Udbedring</a></li>
                </ul>
            </div>
        </nav>
        <!-- vedværende Header -->
    </section>
</header>
<body>

<section class="midtCol2">
    <form action="/createdatareg" method="post">
    <label>Skriv fornavn.</label>
    <input type="text" name="fornavn">
    <label>Skriv efternavn.</label>
    <input type="text" name="efternavn">
    <label>Skriv telefonnummer.</label>
    <input type="text" name="telefon_nummer">
    <label>Skriv kundens E-Mail.</label>
    <input type="text" name="email">
    <label>Tildel et ubrugt kunde ID.</label>
    <input type="text" name="kunde_id">
    <label>Limited eller Unlimited?</label>
    <input type="text" name="abonnement">
    <label>Hvilken bil nummer er kunden tildelt?</label>
    <input type="text" name="vogn_nummer_id">
    <label>Skriv bilens stelnummer.</label>
    <input type="text" name="stel_nummer">
    <label>Kundens pris på det valgte tilbud.</label>
    <input type="text" name="pris">
        <div class="container">
            <button2 type="submit"value="save"> Gem kunde </button2>
        </div>
</section>

</form>

</body>
</html>