<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initialscale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>

<section class="header">
    <!-- vedværende Header -->
    <nav>
            <a href="index.html"><img src="Billeder/BILABONNEMENT_LOGO.png"></a>
        <!-- Denne her er til når der skal extra ting i nav menu.
        <div class="nav-link">
        <li><a href="">EtEllerAndet</a></li>
        -->
    </nav>
    <!-- vedværende Header -->

    <div class="midtCol">
        <p><h1>Velkommen.</h1>
        <br>
        <h4>Tryk venligst log-ind knappen.
            <br>Derefter benyt den bruger som du har fået tildelt</h4></p>
        <img src=""><img src="Billeder/bil1.png" height="189" width="267"/>

        <div class="col-1">
            <button1 onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Log ind</button1>
        </div>
    </div>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="closecontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="uname"><b>Bruger</b></label>
                <input type="text" placeholder="Skriv brugerlogind" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Skriv kode" name="psw" required>

                <button2 type="submit">Log ind</button2>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <!-- <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Glemt <a href="#">password?</a></span>
            </div> -->
        </form>
    </div>

</section>


<body>



<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>

<!-- vedværende Footer -->
<footer class="footer">
    <h4>Kontakt</h4>
    <ul>
        <li>Tel: +45 12345678</li>
        <li>Adresse: Kea 112 </li>
        <li>Email: bil@bil.dk</li>
        <li>CVR nr 12 12 12 12</li>
    </ul>
</footer>
<!-- vedværende Footer -->

</html>