<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initialscale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <title>Maine Page</title>
</head>

<header>
<section class="header2">
    <!-- vedværende Header -->
    <nav>
        <a href="index.html"><img src="Billeder/BILABONNEMENT_LOGO.png"></a>
        <div class="nav-link">
            <ul>
                <li><a href="">Hjælp</a></li>
            </ul>
        </div>
    </nav>
    <!-- vedværende ....Header -->
</section>
</header>
<body>

<section class="TreColum">
    <div>
     <h1>valg af område</h1>
     <div class="row">
        <div class="campus-col">
            <img src="Billeder/Dataregistrering.jpg">
            <div class="cover"><h2>registreing af data</h2></div>
            <img src="Billeder/Forretningsudviklere.jpg">
            <img src="Billeder/Skade og udbedring.jpg">
        </div>
     </div>
    </div>
</section>

</body>
</html>