<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initialscale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <title>Maine Page</title>
</head>

<header>
    <section class="header2">
        <!-- vedværende Header -->
        <nav>
            <a href="index.html"><img src="../static/Billeder/BILABONNEMENT_LOGO.png"></a>
            <div class="nav-link">
                <ul>
                    <li><a href="">Forretningsudvikler</a></li>
                    <li><a href="">Dataregistrering</a></li>
                    <li><a href="">Skade & Udbedring</a></li>
                </ul>
            </div>
        </nav>
        <!-- vedværende Header -->
    </section>
</header>
<body>

</body>

<!-- vedværende Footer -->
<footer class="footer">
    <h4>Kontakt</h4>
    <ul>
        <li>Tel: +45 12345678</li>
        <li>Adresse: Kea 112 </li>
        <li>Email: bil@bil.dk</li>
        <li>CVR nr 12 12 12 12</li>
    </ul>
</footer>
<!-- vedværende Footer -->
</html>